@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');

body {
    display: flex;
    background: url(../images/chalkboard.jpg), #2D312E;
    align-items: center;
    justify-content: center;
    margin: auto;
  }


  #appName {
    text-align: center;
    font-size: 2.5em;
    color: white;
    margin: 60px auto 40px auto;
    font-family: "Chilanka", sans-serif;
  }
  
  #purpose {
    text-align: center;
    font-size: 1.5em;
    color: white;
    margin: auto auto 40px auto;
    font-family: "Chilanka", sans-serif;
  }

  .classTime {
    color: white;
    font-family: "Chilanka", sans-serif;
  }
  
  /* commented out just in case of return to textbox */
  /* #classTime {
    width: 15%;
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    font-size: 1rem;
    margin: 0 auto 2rem auto;
    box-shadow: 2px 2px 5px;
  }
  
  #classTime:hover {
    transform: scale(1.01);
  }
  
  #classTime:focus {
    outline: none;
    transform: scale(1.01);
  } */
  
  .input,
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    font-size: 1em;
    margin-bottom: 40px;
  }
  
  .classTime {
    font-size: 1.2em;
    margin-right: 10px;
  }

  .selectBox {
    font-size: 1.2em;
    padding: 3px;
    border-radius: 4px;
  }

  .selectBox:focus {
    outline: none;
  }

  .timer-text {
    margin: 40px auto;
  }

  #elapsed {
    width: 120px;
    color: white;
    font-family: "Chilanka", sans-serif;
    text-align: center;
    margin: 40px auto;
  }
  
  .controls {
    width: 200px;
    padding: 25px 15px 25px 15px;
    font-size: 1.3em;
    margin: auto 0.8em 1em 0.8em;
    border-radius: 8px;
    outline: 0;
    box-shadow: 2px 2px 4px;
  }
  
  .controls:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  #elapsed {
    font-size: 3rem;
  }
  
  #start {
    background-color: #FF7799;
  }
  
  #pause {
    background-color: #99CCFF;
  }
  
  #reset {
    background-color: #FFCC99;
  }
  
  #calculate {
    background-color: #CC99FF;
  }
  
  #modal-root {
    position: fixed;
    overflow: hidden;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  
  .modal {
    text-align: center;
    display: none;
    position: fixed;
    padding: 15px;
    max-width: 50%;
    min-width: 35%;
    max-height: 75%;
    min-height: 35%;
    left: 50%;
    top: 50%;
    overflow: 0;
    border-radius: 8px;
    opacity: 1;
    transform: translate(-50%, -50%);
    z-index: 6;
  }

  .modal-shown {
    display: grid;
  }

  .modal-good {
    background-color: #BFFFBF;
  }

  .modal-bad {
    background-color: #FFFFBF;
  }

  .modal-worst {
    background-color: #FFBFBF;
  }
  
  .modal-content {
    font-family: "Chilanka", sans-serif;
    text-align: center;
    font-size: 2rem;
    padding: 15px;
  }

  .answer {
    text-align: center;
    font-size: 3rem;
    margin: 0 0 50px 0;
  }

  .answer-good {
    color: #006000;
  }

  .answer-bad {
    color: #FD7F00;
  }
  
  .answer-worst {
    color: #BF0000;
  }
  
  .close {
    float: right;
    height: 40px;
    width: 40px;
    background-color: lightgrey;
    font-size: 1.9rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .close:hover {
    color: #000;
    box-shadow: 1px 1px 1px #777;
  }

  .close-good {
    color: #006000;
  }

  .close-bad {
    color: #FD7F00;
  }

  .close-worst {
    color: #BF0000;
  }

  @media only screen and (max-width: 925px) {
    
    .buttons {
      flex-direction: column;
    }

    .controls {
      font-size: 1.15em;
      padding: 20px;
      width: 180px;
    }

  }

  @media only screen and (max-width: 700px) {
    .modal-text {
      font-size: 0.7em;
    }

    .close {
      height: 35px;
      width: 35px;
      font-size: 1.5em;
    }

    .text {
      margin: 10px;
    }

    #appName {
      font-size: 2em;
      margin: 30px auto 30px auto;
    }

    #purpose {
      font-size: 1.2em;
      margin-bottom: 40px;
    }

    .input {
      margin-bottom: 10px;
    }

    .selectBox {
      font-size: 0.9em;
    }

    .controls {
      padding: 15px;
      width: 160px;
    }
  }